<footer class="page-footer font-small indigo">
    <div class="container text-center text-md-left">
        
        <div class="row">
            <div class="col-md-2 mx-auto">
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4">FLAUNT</h6>
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-2 mx-auto">
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4">READ</h6>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" style="color: gray;"> FASHION </a>
                    </li>
                    <li>
                        <a href="#!" style="color: gray;"> BEAUTY </a>
                    </li>
                    <li>
                        <a href="#!" style="color: gray;"> LIFESTYLE </a>
                    </li>
                    <li>
                        <a href="#!" style="color: gray;"> ASK SXS </a>
                    </li>
                    <li>
                        <a href="#!" style="color: gray;"> PARTIES & EVENTS </a>
                    </li>
                    <li>
                        <a href="#!" style="color: gray;"> BLOGS </a>
                    </li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4">WATCH</h6>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" style="color: gray;">sXs TV</a>
                    </li>
                    <li>
                        <a href="#!" style="color: gray;">INTERVIEWS</a>
                    </li>
                    <li>
                        <a href="#!" style="color: gray;">C CHANNEL</a>
                    </li>
                </ul>

            </div>

            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4">SHOP</h6>
            </div>

            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4">STYLE: WEDDING</h6>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" style="color: gray;">SW EVENTS</a>
                    </li>
                </ul>

                <h6 class="font-weight-bold text-uppercase mt-3 mb-4">CHARITY AUCTION</h6>


            </div>
                <!-- Grid column -->

        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright:
            <a href="https://trisoft.com/"> trisoft.com</a>
        </div>
        <!-- Copyright -->
    </div>
</footer>
<!-- Footer -->