<br>
<div class="row" style="margin-left: 5%; margin-right: 5%; margin-top: 2%;">
    <div class="col-md-8">
        <h2>styleXstyle TV Episode 46: Fragrance of Love</h2>
        <hr size="8" color="black">
        <img src="../../assets/la.jpg" alt="los angeles" width="780" height="500">
    </div>
    <div class="col">
        <img src="../../assets/img.png" alt="" width="300" height="280">
        <img src="../../assets/img.png" alt="" width="300" height="290">
    </div>
</div>
<br>
<i class="align">Go Lunar New Year shopping with Sharon Au!</i>

<div class="row" style="margin-left: 5%; margin-right: 5%; margin-top: 2%;">
    <div class="col-md-8">
        <h2>TRENDING LOOKS</h2>

        <hr size="8" color="black">
        <div class="row">
            <div class="col-md">
                <img src="../../assets/img.png" alt="" height="300" width="370">
            </div>
            <div class="col-md">
                <img src="../../assets/img.png" alt="" height="300" width="370">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <img src="../../assets/img.png" alt="" height="300" width="370">
            </div>
            <div class="col-md">
                <img src="../../assets/img.png" alt="" height="300" width="370">
            </div>
        </div>

        <br>
        <h2>LATEST STORIES</h2>
        <hr size="8" color="black">
        <br>
        <h6 style="color: gray;">23 JANUARY 2017 | STYLEWEDDINGS</h6>
        <h3>Auspicious Dates To Start Work In The New Lunar Year</h3>
        <p>Fengshui master Joey Yap reveals when's the best day for your annual zodiac to start work in the year of the Fire Rooster. &nbsp; <i style="color: gray;">By Style Weddings</i></p>
        <img src="../../assets/la.jpg" alt="los angeles" style="border: 4px solid black;" width="780" height="500">

        <br><br><br>
        <h6 style="color: gray;">23 JANUARY 2017 | STYLEWEDDINGS</h6>
        <h3>Useful Tips To Walking Down the Aisle with your Dog</h3>
        <p>I woof you &nbsp; <i style="color: gray;">By Chermaine Ng</i></p>
        <img src="../../assets/chicago.jpg" alt="los angeles" style="border: 4px solid black;" width="780" height="500">

        <br><br><br>
        <h6 style="color: gray;">23 JANUARY 2017 | STYLEWEDDINGS</h6>
        <h3>8 Hipster Wedding Venues in Singapore</h3>
        <p>You won't find any hotel function rooms here &nbsp; <i style="color: gray;">By Chelsea Tan</i></p>
        <img src="../../assets/ny.jpg" alt="los angeles" style="border: 4px solid black;" width="780" height="500">
    </div>

    <div class="col">
        <img src="../../assets/img.png" alt="" width="300" height="280">
        <br><br>
        <div class="row">
            <p style="text-align: center; margin-left: 30%; margin-top: 5%;">Get them now<br/><b>SHOP</b></p>
            <div *ngFor="let item of [].constructor(5); let i = index">
                <div class="row" style="margin-left: 20px;">
                    <div class="col-md">
                        <img src="../../assets/img.png" alt="" height="100" width="120">
                    </div>
                    <div class="col-md">
                        <img src="../../assets/img.png" alt="" height="100" width="120">
                    </div>
                </div>
                <br>
            </div>
        </div>


        <div class="row">
            <h3 style="margin-left: 20%; margin-top: 5%;">DON'T MISS</h3>
            <div class="row" *ngFor="let item of [].constructor(5); let i=index" style="text-overflow: ellipsis; overflow: hidden;">
                <img src="../../assets/img.png" alt="" style="margin-left: 40px; width: 300px; height: 250px;">
                <br>
                <div style="margin-left: 50px; margin-right: 60px; width:300px ; height: 50px; text-overflow: ellipsis; overflow: hidden;"><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi recusandae saepe quia accusantium quas pariatur beatae nam laborum, delectus neque.</a></div>
                <br><br>
            </div>
        </div>

            <div class="row" style="margin-left: 40%; margin-top: 50px;" > 
                <div class="col">
                    <i> Stay </i>
                </div>
                
            </div>
            <div class="row" style="margin-left: 25%">
                <div class="col">
                    <h4>CONNECTED</h4>
                </div>
            </div>
            <hr size="6" style="width: 50%;">
            
            <div style="margin-left: 30%;">
                <a class="you-ic">
                    <i class="fab fa-youtube-square fa-lg white-text mr-4"></i>
                </a>
                <a class="ins-ic">
                    <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                </a>
                <a class="tw-ic">
                    <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
                </a>
                <a class="fb-ic">
                    <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                </a>
            </div>
    </div>
</div>

<div style="margin-left: 5%; margin-right: 5%; margin-top: 10%;">
    <h4>Instagram</h4>
    <br>
    <div class="row" *ngFor="let item of [].constructor(2); let i=index " style="margin-top: .5%;">
        <div class="col-md" *ngFor="let item of [].constructor(5); let i=index ">
            <img src="../../assets/img.png" alt="" height="150" width="200">
        </div>
    </div>
</div>

<hr style="border: 2px solid black; width: 90%;">